<!-- Fullscreen -->
<section class="fullscreen">
	<div class="fullscreen__content">
		<h3 class="fs fs-title">HOL:UI</h3>
		<p class="fs fs-message">UI toolkit for House of Lights websites</p>
	</div>
</section>

<div class="hol-modal">
	<div>
		<div class="hol-modal__container">
			<p class="text-center">Modal...</p>
			<hr />
			<div class="video-embed">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/s1n4gvoxOgc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<hr />
			<p class="text-right"><button>Close</button></p>
		</div>
	</div>
</div>

<section>
	<div class="grid">
		<div class="grid__row">
			<div class="column-one-half">
 
				<div class="content">
					<form class="inline-form">
						<div>
							<label>
								Name: <br />
								<input autocomplete="off" hol-model="name" name="name" type="text" />
							</label>
						</div>

						<div>
							<label>Username: <br />
								<input autocomplete="off" hol-model="username" name="username" type="text" />
							</label>
						</div>

						<div>
							<label>
								User Type: <br />
								<select hol-model="type" name="type">
									{{#each typeOptions}}
									<option value="{{ value }}">{{label}}</option>
									{{/each}}
								</select>
							</label>
						</div>

						<hr class="to-left" />

						<div class="button-grid">
							<div class="button-grid__btn">
								<button class="primary" name="submit">Login</button>
							</div>
							<div class="button-grid__btn">
								<button class="urgent" name="reset" type="reset">Reset</button>
							</div>
						</div>
					</form>

					<hr />

					<div class="modal-demo">
						<h4>Modal</h4>
						<p>
							<button>Toggle Modal</button>
						</p>
					</div>
				</div>
	
			</div>
		</div>
	</div>
</section>