@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|IBM+Plex+Mono');

@primary: #450F6C;
@secondary: #333333;
@supplementary: #FFFFFF;
@urgent: #D63031;

@primary-transparent: rgba(69,15,108, .7);
@secondary-transparent: rgba(51,51,51, .7);
@urgent-transparent: rgba(214,48,49, .7);

@tablet: 768px;
@desktop: 992px; 

html {
	min-height: 100%;
	position: relative;
}

/* ----------------------------------------------------------- */

body {
	border-top: 10px solid @primary;
	font: 13px  'IBM Plex Mono', monospace;
	margin-bottom: 60px;
}

/* ----------------------------------------------------------- */

header {
	.logo { 
		height: 100px; 
		margin: auto; 
		width: 100px; 
	}
	img { 
		width: 100%; 
	}
}

/* ----------------------------------------------------------- */

footer {
	background: @secondary;
	bottom: 0;
	color: @supplementary;
	height: 60px;
	line-height: 60px;
	position: absolute;
	text-align: center;
	width: 100%;
	
	a { 
		color: @supplementary;
	}
}

/* ----------------------------------------------------------- */

hr { 
	background: linear-gradient(to right, transparent, #DDD, transparent); 
	border: 0;
	height: 1px; 
	margin: 15px 0;

	&.to-left {
		background: linear-gradient(to right, #DDD, transparent); 
	}
	&.to-right {
		background: linear-gradient(to right, transparent, #DDD); 
	}
}

/* ----------------------------------------------------------- */

input[type=email],
input[type=password],
input[type=submit],
input[type=text],
select,
button {
	background: #F5F5F5;
	border: 0;
	box-sizing: border-box;	
	font-family: inherit;
	margin-bottom: 10px;
	outline: 0;
	padding: 10px;
}

/* ----------------------------------------------------------- */

button { 
	cursor: pointer; 
	
	.hol-btn { 
		background: @secondary; 
		color: #EEE; 
	}
}

.content { 
	padding: 10px;
}

/* ----------------------------------------------------------- */

.text {
	&-center { text-align: center; }
	&-left { text-align: left; }
	&-right { text-align: right; }
}

/* ----------------------------------------------------------- */
.grid {
	background: transparent;
	margin: auto;
	max-width: 1024px;
	width: 100%;

	&__row {

		&::after {
			clear: both;
			content: '';
			display: table;
		}
	}
}

/* ----------------------------------------------------------- */

.column-one-whole {
	width: 100%; 

	@media (min-width: @tablet) {
		width: calc(100%/1);
	}
}

.column-one-half { 
	width: 100%; 

	@media (min-width: @tablet) {
		width: calc(100%/2);
	}
}

.column-one-third {
	width: 100%; 

	@media (min-width: @tablet) {
		width: calc(100%/3);
	}
}

.column-one-quarter {
	width: 100%; 

	@media (min-width: @tablet) {
		width: calc(100%/4);
	}
}
/* ----------------------------------------------------------- */

.hide-on-mobile {
	display: none;
	@media (min-width: @tablet) {
		display: unset;
	}
}

.hide-on-tablet {
	@media (min-width: @tablet) {
		display: none;
	}
}

.hide-on-desktop {
	@media (min-width: @desktop) {
		display: none;
	}
}

/* ----------------------------------------------------------- */

.fullscreen {
	background: @secondary;
	height: 100vh;
	position: relative;

	&__content {
		margin: auto;
		max-width: 400px;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.fs {
		text-align: center;

		&-title { 
			color: @supplementary;
			font-family: 'Abril Fatface', cursive; 
			font-size: 34px; 
		}
		&-message { 
			color: @supplementary; 
			opacity: .3; 
		}
		&-content { 
			color: @supplementary; 
			text-align: center; 
		}
	}

	.fs-title { 
		color: @supplementary;
	}
}

/* ----------------------------------------------------------- */

.inline-form {
	& > div {
		display: inline-block;
	}
}

/* ----------------------------------------------------------- */

.button-grid {
	&__btn {
		display: inline-block;
	}
	button {
		letter-spacing: 3px;
		text-transform: uppercase;
		width: 100%;

		&.primary { background: @primary-transparent; color: @supplementary; }
		&.secondary { background: @secondary-transparent; color: @supplementary; }
		&.urgent { background: @urgent-transparent; color: @supplementary; }
	}
}

/* ----------------------------------------------------------- */

.hol-modal {
	background: @primary-transparent;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	transition: display .5s;
	width: 100%;
	
	&.show {
		display: block;
	}

	&__container {
		background: @supplementary;
		box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
		left: 50%;
		margin: auto;
		max-width: 600px;
		padding: 20px;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
	}
}

/* ----------------------------------------------------------- */

.video-embed {
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	position: relative;
}
.video-embed iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}